/* Navigation Bar */
.navbar {
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 250px;
    height: 90px;
    margin-top: -20px;
    margin-bottom: -19px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(45, 102, 139, 0.9); /* Adjust color as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 2rem;
    transition: all 0.3s ease;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s;
    font-family: 'Arial', sans-serif; /* Updated font for English */
}

.nav-links a:hover {
    color: var(--secondary-color);
}

li {
    font-family: 'Arial', sans-serif; /* Updated font for English */
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}


/*  dropdown تصميم شريط التنقل */
.nav-item.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu .dropdown-item {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }


/* Responsive Design */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-container {
        justify-content: center;
        padding: 0 20px;
    }

    .logo {
        position: static;
        transform: none;
    }

    .nav-links {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 30%;
        height: calc(100vh - 80px);
        background: rgba(45, 102, 139, 0.9);
        flex-direction: column;
        padding: 20px 5px;
        transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 999;
        overflow-y: auto; /* Added vertical scrolling */
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links a {
        padding: 15px 30px;
        font-size: 18px;
    }

    .logo img {
        width: 160px;
    }
}

/* Mobile Menu Toggle 
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
}